bar==0.2.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Django==1.11
django-redis-sessions==0.6.1
dukpy==0.2.2
echarts-python==0.1.3
future==0.17.1
idna==2.8
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
lxml==4.3.0
macropy3==1.1.0b2
MarkupSafe==1.1.0
peppercorn==0.6
Pillow==6.2.0
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
PyMySQL==0.9.3
pytz==2018.7
redis==3.0.1
requests==2.21.0
soupsieve==1.7.1
urllib3==1.24.1
