@charset "utf-8";
#gwcContent{height: 580px;width:1200px;margin: 15px auto;}
.span1{font-weight: 800;display: block;width: 80px;height: 20px;float: left;}
.span2{border: 1px solid red;display: block;width: 24px;height: 20px;float: left;text-align: center;line-height: 20px;color: red;}
th{border: none; }
td{border: none;border-top: 1px solid firebrick;background: white;}
#sureBox{width: 1190px;height: 120px;background: #fefbf4;margin: 5px;position: relative;}
i{font-style: normal;}
#sureBox .span6{position: absolute;right: 9px;top: 15px;}
#sureBox .span7{position: absolute;right: 9px;top: 40px;font-weight: 700;color: red;}
#sureBox input{position: absolute;right: 9px;top: 70px;width: 120px;height: 30px;background: red;color: white;border: none;border-radius:1px}
.num1,.num2{display: block;width: 20px;height: 20px;border: 1px solid #666;background: #fefbf4;text-align: center;line-height: 20px;float: left;margin-left: 26px;cursor:pointer}
.num2{margin-left: 0px;}
.td1{position: relative;width: 526px;}
.xiangxi{height: 72px;}
.td2,.td3,.td22{text-align: center;}
.td2,.td22{width: 125px;}
.td4{width: 140px;}
.td3{width: 110px;}
.td3{color: red;}
.delete{color: red;cursor:help;text-align: center;}
.wenzi{font-size: 14px;position: absolute;left: 67px;top: 5px;}
.img{width: 60px;height: 60px;position: absolute;left: 0px;top: 0;margin: 5px;}
.num{width: 30px;height: 16px;float: left;}
#ck{cursor: pointer;}
