<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/cart.css"/>
		<script src="js/jquery-1.12.0.js"></script>
		<script type="text/javascript" src="js/public.js" ></script>
		<script type="text/javascript" src="js/jquery.cookie.js" ></script>
		<script type="text/javascript" src="js/cart.js" ></script>
	</head>
	<body>
		<div id="header">
			<div id="headerOne">
				<div id="headerOne_c">
					<div id="headerOne_c_l">
						<div id="headerOne_c_l_l">
							<span><img src="img/cn.jpg" alt="" style="width: 16px;height: 10px;"/></span>中国<span><img src="img/index.png"alt=""/></span>
							<ul>
								<li><img src="img/us.jpg"/><span>美国</span></li>
								<li><img src="img/ko.jpg"/><span>韩国</span></li>
								<li><img src="img/hk.jpg"/><span>香港</span></li>
								<li><img src="img/cn.jpg"/><span>中国</span></li>
								<li style="font-size: 12px;margin-left: 26px;">Other</li>
							</ul>
						</div>
						<div id="headerOne_c_l_r">
							<span>￥人民币<span><img src="img/index.png"alt=""/></span></span>
							<ul>
								<li><a href="#">$美元</a></li>
								<li><a href="#">￥人民币</a></li>
								<li><a href="#">HK$港币</a></li>
								<li><a href="#">₩韩币</a></li>
							</ul>
						</div>
					</div>
					<div id="headerOne_c_r">
						<div id="headerOne_c_r_r">
							<span><a href="signIn_Register.html" target="_blank">登录</a><a href="signIn_Register.html" target="_blank">注册</a></span>
						    <span><span><img src="img/star.png" class="star1"/><img src="img/red.png" class="star2"/></span>我的关注（0）</span>
						    <div id="headerOne_c_r_r_1">个人中心<span><img src="img/index.png"></span>
						    	<ul>
						    		<li><a href="#">我的订单</a></li>
						    	</ul>
						    </div>
						</div>						
					</div>
				</div>
			</div>
			<div id="headerTwo">
				<div id="headerTwo_c">
					<img src="img/logo.png"  id="homepage"/>
				    <input type="text"id="search_k" placeholder="请输入关键词搜索商品" />
				    <input type="button" id="search_b"/>
				    <div id="shoppingCart">
				    	<span class="shopCart">0</span>
				    	<br />
				    	<div id="shoppingCart_c">
				    		<img src="img/gwc.png"/><span>购物车</span><img src="img/indexred.png"/>
				    	</div>				    	
				    </div>
				</div>
			</div>
			
			<div id="headerNav">
				<div id="headerNav_n">
					全部商品分类
					<img src="img/index_rr.png"/>
					<ul class="headerNav_n">
						<li><span>服饰箱包</span>
							<div id="headerNav_n_one">
								<b>箱包&gt;<br /></b>
								<a href="#">时尚女包</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						
						<li><span>母婴用品</span>
							<div id="headerNav_n_two">
								<b>婴幼儿奶粉&gt;<br /></b>
								<a href="#">可瑞康</a>
								<a href="#">爱他美</a>
								<a href="#">惠氏</a>
								<a href="#">荷仕兰</a>
								<a href="#">维达宝</a>
								<a href="#">WINNEY温妮</a>
								<a href="#">德国喜宝Hipp</a>
								<a href="#">荷兰美素</a>
								<a href="#">牛栏</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>成人奶粉&gt;<br /></b>
								<a href="#">WINNEY温妮</a>
								<a href="#">Medallion</a>
								<a href="#">雅培</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>喂养洗护用品&gt;<br /></b>
								<a href="#">水杯</a>
								<a href="#">宝宝护肤</a>
								<a href="#">奶瓶</a>
								<a href="#">奶瓶配件</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>尿裤湿巾&gt;<br /></b>
								<a href="#">婴儿纸尿裤</a>
								<a href="#">婴儿拉拉裤</a>
								<a href="#">湿巾</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>婴儿服饰&gt;<br /></b>
								<a href="#">小背包</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>玩具乐器&gt;<br /></b>
								<a href="#">毛绒玩具</a>
								<a href="#">布艺玩具</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>婴幼儿辅食&gt;<br /></b>
								<a href="#">儿童/宝宝面</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>				
						</li>
						
						<li><span>美妆个护</span>
								<div id="headerNav_n_three">
								<b>洗发护发&gt;<br /></b>
								<a href="#">洗发</a>
								<a href="#">护发</a>
								<a href="#">染发</a>
								<a href="#">造型</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>魅力彩妆&gt;<br /></b>
								<a href="#">底妆</a>
								<a href="#">睫毛膏</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>面部护理&gt;<br /></b>
								<a href="#">套装</a>
								<a href="#">眼霜</a>
								<a href="#">爽肤水</a>
								<a href="#">乳液面霜</a>
								<a href="#">精华</a>
								<a href="#">防晒隔离</a>
								<a href="#">面膜</a>
								<a href="#">洁面</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>两性护理&gt;<br /></b>
								<a href="#">清洁用品</a>
								<a href="#">卫生巾</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>口腔护理&gt;<br /></b>
								<a href="#">牙膏/牙粉</a>
								<a href="#">漱口水</a>
								<a href="#">牙刷</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>香水&gt;<br /></b>
								<a href="#">Bvlgari</a>
								<a href="#">Burberry</a>
								<a href="#">CK</a>
								<a href="#">Lanvin</a>
								<a href="#">Chaner</a>
								<a href="#">Dior</a>
								<a href="#">Gucci</a>
								<a href="#">Guerlain</a>
								<a href="#">Gucci</a>
								<a href="#">Ferragamo</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>身体护理&gt;<br /></b>
								<a href="#">沐浴润肤</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>	
						</li>
						
						<li><span>汽车用品</span>
						    <div id="headerNav_n_four">
								<b>车载电器&gt;<br /></b>
								<a href="#">净化器</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>汽车装饰&gt;<br /></b>
								<a href="#">空气净化</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						<li><span>体育户外用品</span>
						    <div id="headerNav_n_five">
								<b>户外装备&gt;<br /></b>
								<a href="#">高尔夫</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						
						<li><span>营养保健</span>
						    <div id="headerNav_n_six">
								<b>家庭保健&gt;<br /></b>
								<a href="#">血压计</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>保健食品&gt;<br /></b>
								<a href="#">滋补养生</a>		
								<a href="#">肠胃养护</a>	
								<a href="#">玛咖</a>		
								<a href="#">孝素</a>		
								<a href="#">调节免疫</a>
								<a href="#">Organika</a>	
								<a href="#">美体瘦身</a>	
								<a href="#">美容养颜</a>	
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>健康用品&gt;<br /></b>
								<a href="#">睡眠辅助</a>
								<a href="#">足部护理</a>
								<a href="#">腰部护理</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>急救卫生&gt;<br /></b>
								<a href="#">创口贴/绷带</a>
								<a href="#">口罩</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>家庭护理&gt;<br /></b>
								<a href="#">居家必备</a>
								<a href="#">驱蚊</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						<li><span>食品、酒水</span>
						    <div id="headerNav_n_seven">
								<b>进口食品&gt;<br /></b>
								<a href="#">粮油调味</a>
								<a href="#">休闲零食</a>
								<a href="#">饮食</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>粮油调味&gt;<br /></b>
								<a href="#">面</a>		
								<a href="#">厨房调味</a>	
								<a href="#">蛋</a>		
								<a href="#">大米</a>		
								<a href="#">杂粮</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>中外名酒&gt;<br /></b>
								<a href="#">果酒</a>
								<a href="#">啤酒</a>
								<a href="#">洋酒</a>
								<a href="#">葡萄酒</a>
								<a href="#">香槟</a>
								<a href="#">白酒</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>地方特产&gt;<br /></b>
								<a href="#">贵州特产</a>
								<a href="#">山西特产</a>
								<a href="#">福建特产</a>
								<a href="#">西北特产</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>茶叶&gt;<br /></b>
								<a href="#">苦芥茶</a>
								<a href="#">高山茶</a>
								<a href="#">红茶</a>
								<a href="#">养生茶</a>
								<a href="#">绿茶</a>
								<a href="#">白茶</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>休闲食品&gt;<br /></b>
								<a href="#">休闲零食</a>
								<a href="#">饮品</a>
								<a href="#">月饼</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						<li><span>家居日用</span>
						   <div id="headerNav_n_eight">
								<b>厨具&gt;<br /></b>
								<a href="#">刀具套餐</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>清洁用品&gt;<br /></b>
								<a href="#">洗洁精</a>		
								<a href="#">衣物洗护</a>	
								<a href="#">净化除味</a>										
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>精美餐具&gt;<br /></b>
								<a href="#">碗具</a>
								<a href="#">功夫茶具</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>烹饪餐具&gt;<br /></b>
								<a href="#">炒锅</a>
								<a href="#">汤锅</a>
								<a href="#">蒸锅</a>
								<a href="#">煎锅</a>
								<a href="#">煲锅</a>
								<a href="#">套锅</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>床上用品&gt;<br /></b>
								<a href="#">被子枕头</a>		
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>五金/工具&gt;<br /></b>
								<a href="#">卫浴/龙头</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>生活用品&gt;<br /></b>
								<a href="#">毛巾浴巾</a>
								<a href="#">鞋袜类</a>
								<a href="#">其他用品</a>
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>家用电器&gt;<br /></b>
								<a href="#">厨房小电</a>
								<a href="#">个护健康</a>
								<a href="#">净水设备</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>
							</div>
						</li>
						<li><span>钟表首饰</span>
						   <div id="headerNav_n_nine">
								<b>手表&gt;<br /></b>													
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>耳环类&gt;<br /></b>
								<a href="#">银质</a>		
								<a href="#">珍珠</a>																		
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>项链类&gt;<br /></b>
								<a href="#">珍珠</a>
								<a href="#">银</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>眼镜&gt;<br /></b>								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>手镯/手链类&gt;<br /></b>
								<a href="#">银饰</a>		
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>戒指&gt;<br /></b>
								<a href="#">银饰</a>								
								<hr style="width: 600px;background: #EEEEEE;"/>						
							</div>
						</li>
						<li><span>数码电子</span>
						    <div id="headerNav_n_ten">
								<b>智能设备&gt;<br /></b>
								<a href="#">智能家居</a>	
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>耳机&gt;<br /></b>																								
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>电脑&gt;<br /></b>
								<a href="#">Dell</a>																
								<hr style="width: 600px;background: #EEEEEE;"/>
								<b>手机配件&gt;<br /></b>
								<a href="#">数据线</a>	
								<a href="#">车载配件</a>	
								<a href="#">手机保护套</a>	
								<a href="#">充电器</a>													
							</div>
						</li>
					</ul>
				</div>
				<ul>
					<li><a href="#">商城首页</a></li>
					<li><a href="#">新品上市</a></li>
					<li><a href="#">口碑热卖</a></li>
					<li><a href="#">包邮专区</a></li>
					<li><a href="#">特惠促销</a></li>
					<li><a href="#">旅游</a></li>
					<li><a href="#">关于我们</a></li>
				</ul>
			</div>		
		</div>	
		<div id="gwcContent">
			<span class="span1">全部商品</span><span class="span2">0</span><br /><br />
			<table border="1" cellspacing="0">
				<tr height="38px">
					<th width="526px">商品名称</th><th width="125px">属性</th><th width="125px">单价</th><th width="140px">数量</th><th width="110px">小计</th><th width="120px">操作</th>
				</tr>
				<tr id="tr">
					<td colspan="6">
						<div id="sureBox">
						    <span class="span6">共<i class="nun"> </i>件商品 总价（不包含运费）</span><br />
						    <span class="span7">￥<i>0.00</i></span><br />
						    <input type="button" id="ck" value="立即结算" />
					    </div>
					</td>
				</tr>
			</table>
		</div>	
		<div id="footer">
        	<div id="footer_c">
        		<div id="footer_c_l">
        			<span>Copyright&copy;2014-2016 TPS138.com前海云集品 版权所有.粤ICP备14072989号-2<br />
        			      食品经营许可证：JY14403040013964
        			</span>
        			<br /><br />
        			<span>深圳前海云集品电子商务有限公司<br />
        			      汤普森跨境电子商务平台
        			</span>
        			<br />
        			<ul>
        				<li><a href="#">&gt;关于我们</a></li>
        				<li><a href="#">&gt;物流配送</a></li>
        				<li><a href="#">&gt;售后服务</a></li>
        				<li><a href="#">&gt;帮助中心</a></li>
        			</ul>
        		</div>
        		<div id="footer_c_m">
        			<span>联系方式<br />
        			      <br />
        			      support@tps138.com<br />
        			      0755-88695066  
        			</span>
        		</div>
        		<div id="footer_c_r">
        			<img src="img/weixin.jpg" style="width: 160px;height: 160px;"/>
        		</div>
        	</div>
        </div>		
	</body>
</html>
