<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入|注册</title>
    <style>
        #login{
            float: left;
        }
        #regis{
            float: left;
            position: absolute;
            left: 200px;
        }
    </style>
</head>
<body>

<h2>顾客注册|登入</h2>
    <div id="login">
    <h3>欢迎回来!</h3>
{#        <form action="='{% url 'tpsapp:login' %}" method="post">#}
{#            {% csrf_token %}#}
{#            <p>#}
{#                用户名：<input type="text" name="name">#}
{#            </p>#}
{#            <p>#}
{#                密码：  <input type="password" name="password">#}
{#            </p>#}
{#            {% if err %}#}
{#                <p style="color: green" >{{ err }}</p>#}
{#            {% endif %}#}
{#            <input type="submit" value="登录" style="background: red" >#}
{#        </form>#}
        <form action="{% url 'tpsapp:login' %}" method="post">
            {% csrf_token %}
            <p>
                用户名: <input type="text" name="username">
            </p>
            <p>
                密码: <input type="password" name="password">
            </p>

            {% if err %}
                {{ err }}
            {% endif %}

            <input type="submit" value="登录">
        </form>
    </div>
    <div id="regis">
     <h3>欢迎注册！</h3>
        <form action="{% url 'tpsapp:register' %}" method="post">
            {% csrf_token %}
            <p>
                用户名: <input type="text" name="name">
            </p>
            <p>
                密码:   <input type="password" name="password">
            </p>
            <p>
                验证码: <input type="text" name="auth">
            </p>
            <input type="submit" value="注册">


        </form>
    </div>

</body>
</html>